CustomerLibrary/AbstractDal/obj/
CustomerLibrary/ConsoleTest/obj/
CustomerLibrary/ConsoleTest/bin/
CustomerLibrary/EfDal/bin/
CustomerLibrary/Facade/bin/
CustomerLibrary/FactoryCustomer/obj/
CustomerLibrary/FactoryDal/obj/
CustomerLibrary/ICustomerInterface/obj/
CustomerLibrary/Mediator/
CustomerLibrary/packages/
CustomerLibrary/IDal/obj/
CustomerLibrary/Stratergy/obj/
CustomerLibrary/WindowsCustomerUI/bin/
CustomerLibrary/FactoryDal/bin/
CustomerLibrary/FactoryCustomer/bin/
CustomerLibrary/EfDal/obj/
CustomerLibrary/ConsoleApplication1/obj/
CustomerLibrary/ConsoleApplication1/bin/
CustomerLibrary/AdoEFUOW/obj/
CustomerLibrary/AdoDalLayer/obj/
CustomerLibrary/AdoDalLayer/bin/
CustomerLibrary/CustomerLibrary/obj/
CustomerLibrary/DataAccess/obj/
CustomerLibrary/ValidationStratergy/obj/
CustomerLibrary/WindowsCustomerUI/obj/
CustomerLibrary/Facade/obj/
