<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CustomerEfDal" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQL2008;Initial Catalog=DbCustomer;Integrated Security=True"/>
    <add name="EUow" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQL2008;Initial Catalog=DbCustomer;Integrated Security=True"/>
  </connectionStrings>
</configuration>